node_modules/
.env
.env.example
/*.zip
.DS_Store
/scripts/
/scripts/*
server/scripts/*
*.sql
*.bak
C:\Users\denni\Documents\Github\PoGoSDex\PoGoSDex-DiscordBot
C:\Users\denni\Documents\Github\PoGoSDex\PoGoSDex-DiscordBot\*
PoGoSDex-DiscordBot\
PoGoSDex-DiscordBot\*
external/content
